<div class="all-page">
  <div class="img-background">
    <div class="title">
      <h1>Alexandre Camilo</h1>
      <h3>frontend developer</h3>
    </div>
  </div>
  <%# J'ai mis dans _home.css %>
  <div class="page2"></div>
</div>
