<div class="all-page">
  <div class="img-background">
    <div class="title">
      <h1>Alexandre Camilo</h1>
      <h3>frontend developer</h3>
    </div>
    <div class="logo">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-github"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-slack"></ion-icon>
    </div>
  </div>
  <%# J'ai mis dans _home.css %>
  <div class="page2"></div>
</div>
